@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- basic ------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-b from-blue-400 to-stone-900/30;

}

html {
  background-color:rgba(1, 34, 79);
}

main {
  padding-top: 104px;
}

.shark-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  /* grid-area: auto; */
}

.shark-cell {
  /* object-fit: cover; */

  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  .shark-gallery {
  grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .shark-gallery {
  grid-template-columns: 1fr;
  }
}

.title {
  font-family: "shark-font";
}

p, h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dde5fa;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:0;
  color: #dde5fa;
}

.fish {
  font-family: "fish";
}


/* ----------- custom fonts ------------ */

@font-face {
  font-family: "regular";
  src: url("/public/fonts/regular.woff") format("woff");
}

@font-face {
  font-family: "fish";
  src: url("/public/fonts/fish.woff") format("woff");
}

@font-face {
  font-family: "shark-font";
  src: url("/public/fonts/shark-font.woff") format("woff");
}
