@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- basic ------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* @apply bg-gradient-to-b from-blue-700/20 to-stone-900/30; */

}

html {
  background-color:rgb(21, 21, 21);
}

main {
  padding-top: 130px;
  max-width: 1400px;
  margin: 0 auto;
transition-timing-function: ease-in-out ;}

header {
  width: 1400px;
}

/* ----------- home page ------------ */

.shark-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  /* grid-area: auto; */
}

@media (max-width: 760px) {
  .shark-gallery {
  grid-template-columns: 1fr 1fr;
  }

  main {
    padding-top: 96px;
  }
}

@media (max-width: 500px) {
  .shark-gallery {
  grid-template-columns: 1fr;
  }

  .shark-name {
    @apply flex flex-row items-center space-x-3 absolute py-2 px-3 flex-wrap bottom-0 text-xl w-full  backdrop-blur-lg md:hidden group-hover:flex transition-all duration-300;
  }
}

.shark-card {
  position: relative;
  overflow: hidden;
}

.shark-image {
  width: 100%;
  height: 100%;
}

.shark-name {
  display:flex;
  flex-direction: row;
  align-items: center;
  position:absolute;
  bottom: -200px;
  padding: 8px 10px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.539);
  transition-duration: 200ms;
}

.shark-card:hover > a > .shark-name {
  /* animation: rise-in 500ms ease-in-out; */
  /* animation-fill-mode: forwards; */
  bottom: 0;
}

/* ----------- info page ------------ */

.shark-info {
  display: flex;
  flex-direction: row;
  /*  */
  justify-content: between;
  
}

.shark-info-image {
  width: 60vw;
}

.text-info {
}

@media (max-width: 950px) {
  .shark-info {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shark-info-image {
    width: 100vw;
  }

  .text-info {
    width: 100vw;
  }
}







.title {
  font-family: "shark-font";
}

p, h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dde5fa;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:0;
  color: #dde5fa;
}

.fish {
  font-family: "fish";
}


/* ----------- custom fonts ------------ */

@font-face {
  font-family: "regular";
  src: url("/public/fonts/regular.woff") format("woff");
}

@font-face {
  font-family: "fish";
  src: url("/public/fonts/fish.woff") format("woff");
}

@font-face {
  font-family: "shark-font";
  src: url("/public/fonts/shark-font.woff") format("woff");
}
