@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- basic ------------ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:aliceblue;
  /* @apply bg-gradient-to-b from-blue-700/20 to-stone-900/30; */

}

html {
  @apply bg-gray-800 text-gray-50;
}

main {
  @apply px-4 pt-[65px] pb-[30px];
  max-width: 1400px;
  margin: 0 auto;
  }

header {
  width: 1400px;
}

/* ----------- home page ------------ */

.shark-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  /* grid-area: auto; */
}

@media (max-width: 760px) {
  .shark-gallery {
  grid-template-columns: 1fr 1fr;
  }

  main {
    padding-top: 70px;
  }
}

@media (max-width: 500px) {
  .shark-gallery {
  grid-template-columns: 1fr;
  }

  .shark-name {
    @apply flex bottom-0 block flex-row items-center space-x-3 absolute py-2 px-3 flex-wrap bottom-0 text-xl w-full backdrop-blur-lg md:hidden group-hover:flex transition-all duration-300;
  }
}

@media (min-width: 1900px) {
  main {
    padding: 130px 250px;
    max-width: max-content;
  }

  header {
    padding: 0px 250px;
    width: fit-content;
  }
}

.shark-card {
  position: relative;
  overflow: hidden;
}

.shark-image {
  width: 100%;
  height: 100%;
}

.shark-name {
  display:flex;
  flex-direction: row;
  align-items: center;
  position:absolute;
  bottom: -200px;
  padding: 8px 10px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.539);
  transition-duration: 200ms;
}

.shark-card:hover > a > .shark-name {
  bottom: 0;
}

/* ----------- info page ------------ */

.shark-info {
  display: flex;
  flex-direction: row;
  justify-content: between;
  
}

.shark-info-image {
  width: 50vw;
}

.text-info {

}

@media (max-width: 950px) {
  .shark-info {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shark-info-image {
    width: 100vw;
  }

  .text-info {
    width: fit-content;
    align-items: center;
  }
}

/* ----------- bubble animation ------------ */
#bubbles {
  position: absolute;
  bottom: -200px;
  animation-name: rise;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#bubbles > div {
  background-color: rgba(240, 248, 255, 0.298);
  border-radius: 50%;
  border: 1px solid rgba(240, 248, 255, 0.247);
  height: 50px;
  width: 50px;
}

@keyframes rise {
  0% {
    bottom: -200px;
  }
  100% {
    top: -200px;
  }
}

.title {
  font-family: "shark-font";
}

p, h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dde5fa;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:0;
  color: #dde5fa;
}

.fish {
  font-family: "fish";
}


/* ----------- custom fonts ------------ */

@font-face {
  font-family: "regular";
  src: url("/public/fonts/regular.woff") format("woff");
}

@font-face {
  font-family: "fish";
  src: url("/public/fonts/fish.woff") format("woff");
}

@font-face {
  font-family: "shark-font";
  src: url("/public/fonts/shark-font.woff") format("woff");
}
